.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.invalid {
  border: 1px solid red;
}

.almost_valid {
  border: 1px solid yellow;
}

.valid {
  border: 1px solid green;
}

.solved {
  border: 1px solid rgb(12, 51, 221);
}

/* Custom styles if needed */
.success {
  color: green;
}

.button-container {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  justify-content: space-between; /* Espace égal entre les boutons */
}

.button-container button {
  margin: 5px; /* Optionnel: ajoute un peu d'espace autour de chaque bouton */
}

.button-container a {
  text-decoration: none; /* Supprime la décoration de lien par défaut */
  color: inherit; /* Utilise la couleur du texte du bouton */
  display: block; /* Permet au lien de remplir entièrement le bouton */
  padding: 10px 20px; /* Optionnel: ajoute du padding au lien pour améliorer l'apparence */
  margin-top: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}
.footer {
  background: #f8f9fa;
  padding: 10px;
  text-align: center;
}
